global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'aggregation-gateway'
    static_configs:
      - targets: ['aggregation-gateway:80']

  - job_name: 'postgresql'
    static_configs:
      - targets: ['postgresql:5432'] 